body{
	background-color: #EEE;
	font-size: .8em;
}

.logReport {
	border-width: 1px;
	border-style: solid;
	border-spacing : 0px;
}     

.logReport td{
	border-width: 1px;
	border-style: solid;
	padding: 0px;
}

.hide{
	display: none;
}

.highlight{
	background-color: yellow;
}