body {
	background-color: #EEE;
}

li{
	background-color:blue;
	width:180px;
	height:180px;
	list-style-type: none;
	display: inline-block; 
	float: left;
	margin: 20px;
	padding: 4px;
	font-size: 3em;
	color: white;
}